@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* style guide */
:root {
  /* primary color */
  --p100: #ffe2e4;
  --p200: #feb0b4;
  --p300: #fd7e84;
  --p400: #fd4b55;
  --p500: #fc1925;
  --p600: #df030f;
  --p700: #ad020b;
  --p800: #7a0208;
  --p900: #480105;

  /* secondary color */
  --s100: #e4eef5;
  --s200: #bfd6e7;
  --s300: #99bfda;
  --s400: #74a7cc;
  --s500: #4f8fbe;
  --s600: #3b759f;
  --s700: #2d5a7a;
  --s800: #1f3e55;
  --s900: #112330;

  /* neutral */
  --white: #fff;
  --black: #000;
  --g100: #e6e6e6;
  --g200: #cccccc;
  --g300: #b3b3b3;
  --g400: #999999;
  --g500: #808080;
  --g600: #666666;
  --g700: #4d4d4d;
  --g800: #333333;
  --g900: #1a1a1a;

  /* size */
  --xx-small: 4px;
  --x-small: 8px;
  --small: 12px;
  --medium: 14px;
  --large: 16px;
  --x-large: 20px;
  --xx-large: 24px;
  --xxx-large: 32px;
  --xxxx-large: 36px;
  --extra: 48px;
  --big: 56px;

  /* color system */
  --accent: var(--p500);
  --background: var(--white);
  --text: var(--g900);
  --text-light: var(--g700);

  /* size system */
  --heading1: var(--extra);
  --heading2: var(--xxxx-large);
  --heading3: var(--xx-large);
  --body: var(--large);
  --caption: var(--medium);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  background-color: var(--background);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: var(--large);
  line-height: 1.6;
  color: var(--text);
  letter-spacing: -0.32px;
  font-weight: 400;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  color: var(--text);
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
